* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*header style with logo and nav bar*/

  header {
    padding: 20px 10px;
    background-color: rgb(17, 58, 105);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  header h1 {
    
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  color: #fafaf8;
}
header a {
  text-decoration: underline white;
  color: #fffffef6;
}

@media (min-width:900px){
    header a {
        text-decoration: overline white;
        color: #fffffef6;
      }

}
header nav {
  margin: 7px 0;
}
header nav ul {
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

@media (min-width:900px){
    header nav ul {
        display: flex;
        justify-content: space-between; 
    }
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
