* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*header style with logo and nav bar*/

  header {
    padding: 20px 10px;
    background-color: rgb(17, 58, 105);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  header h1 {
    
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  color: #fafaf8;
}
header a {
  text-decoration: underline white;
  color: #fffffef6;
}

@media (min-width:600px){
    header a {
        text-decoration: overline white;
        color: #fffffef6;
      }

}
header nav {
  margin: 7px 0;
}
header nav ul {
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

@media (min-width:600px){
    header nav ul {
        display: flex;
        justify-content: space-between; 
    }
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
 /*body photo with cool caption and name*/
 .background-photo {
  background-image: url('../images/pic1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cool-header{
  width: 100%;
  text-align: right;
  margin: 7.5%;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  line-height: 1.2;
}
/*About me section formatting and flexbox use with a responsive layout that adapts to different viewports*/
.about-me{
    max-width: 1300px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: white;
      margin: 40px auto 20px auto;
    line-height: 1.65;
    padding: 20px 20px;
    }
  @media (min-width: 900px){
      .about-me{
          display: flex;
          justify-content: space-between;
          }
  }
.about-me-title{

  border-right: 10px solid rgb(17, 58, 105);
  flex-basis: 27%;
  text-align: right;
   }
.description-about-me{
  background-color: white;
  flex-basis: 70%;
   text-align: justify;
}
.mypic{

   width: 90%;
    }
 /*My work section*/
 .my-work{
  max-width: 1300px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: white;
    margin: 40px auto 20px auto;
  line-height: 1.65;
  padding: 20px 20px;

}

@media (min-width: 900px) {
    .my-work{
  display: flex;
  justify-content: space-between;}
}
.my-work-title{
    background-color: white;
    border-right: 10px solid rgb(17, 58, 105);
    flex-basis: 27%;
    text-align: right; 
}
.Horeison{
    flex-basis: 34%;
}

.Horeison:hover {
    flex-basis: 50%;
}
.run-buddy{
    flex-basis: 34%;
}

.run-buddy:hover{
flex-basis: 50%;
}

  /*conatct me section*/
  .contact-me{
    max-width: 1300px;
    background-color:white;
    margin: 40px auto 20px auto;
    line-height: 1.65;
    padding: 20px 20px;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  @media(min-width:900px){
    .contact-me{
        display: flex;
        justify-content: space-between;
      }
  }

  .contact-me-title{
    background-color: white;
    border-right: 10px solid rgb(17, 58, 105);
    flex-basis: 27%;
    text-align: right;
  }
  .phone-number{
    background-color: white;
    flex-basis: 17%;
    text-align: center;
    text-decoration:underline;
     }
  
  .Email-address{
    background-color: white;
    flex-basis: 17%;
    text-align: center;
    text-decoration:underline;
     }
  
  .LinkedIn{
    background-color: white;
    flex-basis: 17%;
    text-align: center;
    text-decoration:underline;
     }
  .Github-add{
    background-color: white;
    flex-basis: 17%;
    text-align: center;
    text-decoration:underline;
     }

     /*footer formatting*/
     .foot{
        text-align: center;  
     }
